// Color palette
$primary: hsla(16, 13%, 33%, 1);
$secondary: hsla(83, 33%, 72%, 1);
$info: hsla(301, 26%, 43%, 1);
$light: hsla(50, 50%, 93%, 1);
$dark: hsla(215, 35%, 12%, 1);

// Colors
$body-bg: $light;
$body-color: $dark;
$link-color: $info;
$input-bg: mix(white, $body-bg, 75%);

// Navbar styling
$navbar-light-color: rgba($dark, 0.75);
$navbar-light-hover-color: rgba($primary, 0.97);
$navbar-light-active-color: rgba($primary, 1);
$navbar-light-disabled-color: rgba($dark, 0.4);
$nav-link-font-size: x-large;
$navbar-brand-font-size: 1.75rem;

// Font styling
// Caveat is a little small, so size headings up a bit
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;
$display-font-sizes: (
  1: 5.5rem,
  2: 5rem,
  3: 4.5rem,
  4: 4rem,
  5: 3.5rem,
  6: 3rem,
);
$blockquote-font-size: 1rem;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

header {
  // Bring the header + navbar in front of the positioned splash div
  z-index: 1;
}

.nav-link,
.navbar-brand {
  font-family: 'Caveat', $font-family-sans-serif;
}
.nav-link.active {
  font-weight: bold;
}
.navbar .navbar-brand {
  color: tint-color($primary, 8%);
}
.navbar-brand > .bi-cup {
  vertical-align: -3%;
}

section,
.splash {
  margin-bottom: $spacer * 1.5;
}

.splash {
  // Size and position to occupy initial view of page
  position: relative;
  top: -$spacer;
  left: -$spacer;
  width: calc(100% + 2 * $spacer);
  height: 100vh;

  // Background; should only fill initial view
  background-image: url('../images/three-beverages-from-above.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.splash hgroup {
  --bs-bg-opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Caveat', $font-family-sans-serif;
  color: var(--bs-primary);
}

.card {
  background-color: tint-color($light, 50%);
}

body > footer {
  margin-top: $spacer * 3;

  $footer-color: tint-color($secondary, 50%);
  background: $footer-color;
  box-shadow: 0 100vh 0 100vh $footer-color;
}
