// Color palette
$primary: hsla(17, 13%, 32%, 1);
$secondary: hsla(83, 33%, 72%, 1);
$info: hsla(301, 26%, 47%, 1);
$light: hsla(50, 50%, 93%, 1);
$dark: hsla(215, 35%, 12%, 1);

// Colors
$body-bg: $light;
$body-color: $dark;
$link-color: $info;

// Navbar styling
$navbar-light-color: rgba($dark, 0.75);
$navbar-light-hover-color: rgba($primary, 0.97);
$navbar-light-active-color: rgba($primary, 1);
$navbar-light-disabled-color: rgba($dark, 0.4);
$nav-link-font-size: x-large;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Caveat', $font-family-sans-serif;
  color: var(--bs-primary);
}

.nav-link {
  font-family: 'Caveat', $font-family-sans-serif;
}
.nav-link.active {
  font-weight: bold;
}

body > footer {
  $footer-color: tint-color($secondary, 40%);
  background: $footer-color;
  box-shadow: 0 100vh 0 100vh $footer-color;
}
